name: Metrics
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main
  schedule:
    - cron: "0 */2 * * *"

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: DrazoxXD
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Budapest

          repositories_affiliations: owner, collaborator, organization_member
          repositories_visibility: all

          plugin_code: yes
          plugin_code_days: 3
          plugin_code_lines: 12
          plugin_code_load: 400
          plugin_code_visibility: all

          plugin_fortune: yes
          plugin_introduction: yes
          plugin_introduction_title: yes

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_analysis_timeout_repositories: 7.5
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_ignored: html, css
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 4
          plugin_lines_sections: base

          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_types: commit

          plugin_repositories: yes
          plugin_repositories_order: featured, pinned, starred, random
